/*==========COMMON==========*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  @font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf),
        url(../fonts/OpenSans-Regular.woff),
        url(../fonts/OpenSans-Regular.woff2);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Bold.ttf),
        url(../fonts/OpenSans-Bold.woff),
        url(../fonts/OpenSans-Bold.woff2);
    font-weight: 700;
    font-style: normal;
  }
  
  body{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
  }
  
  /*==========HEADER==========*/

  .header-wrapper{
    max-width: 1200px;
    margin: auto;
  }
  
  .header{
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    z-index:0;
    padding: 30px 0;
    margin-bottom:60px;
    }
  
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    background-color: #000000;
    opacity: 0.6;
    z-index:-1;
  }
  
  .menu, .logo-link {
    display:flex;
    justify-content:space-between;
    align-items:center;
   }

  .menu-burger{
    display: none;
  }
  
  .header-menu{
    margin:0;
    box-sizing: border-box;
  }
  
  .menu-list{
    list-style: none;
    display:flex;
    align-items:center;
  }
  
  .menu-list-item:not(:first-child){
  margin-left: 20px;  
  }
  
  .menu a{
     text-decoration: none;
     color: #ffffff;
     font-size: 13px;
     text-transform: uppercase;
    }
  
  .welcome-title {
    font-family: "Open Sans", sans-serif;
    font-size: 45px;
    line-height:1.6;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    max-width:700px;
    margin: auto;
    padding:128px 0;
  }

  /*==========POPUP==========*/

  .pop-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
  }
  
  ._hidden {
    display: none;
  }
  
  .pop-up-content {
    box-sizing: border-box;
    width: 390px;
    height: 590px;
    background-color: #fff;
    position: fixed;
    padding: 53px 30px;
    margin-top: 30px;
  }
  
  .popup_close {
    position: absolute;
    color: #fff;
    width: 18px;
    height: 18px;
    right: -1px;
    top: -40px;
    font-size: 40px;
    cursor: pointer;
  }
  
  .header-popup {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 25px;
  }
  
  .header-popup::after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 12px;
  }
  
  .question {
    display: block;
    padding-bottom: 9px;
    font-size: 13px;
  }
  
  .frequency-area {
    position: relative;
  }
  .frequency-area::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 20px;
    background-image: url(../svg/form-arrows.svg);
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 40px;
    right: 15px;
  }
  .choose-option {
    width: 100%;
    height: 47px;
    background-color: #f4f7f6;
    border: none;
    margin-bottom: 25px;
    padding-left: 19px;
    color: #707171;
    font-size: 13px;
    appearance: none;
    cursor: pointer;
  }
  
  .email-area {
    margin-bottom: 25px;
  }
  
  .choose {
    position: relative;
    font-size: 13px;
    margin-right: 17px;
  }
  
  .radio-check {
    appearance: none;
    padding-left: 20px;
  }
  
  .radio-text::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background-image: url(../svg/form-empty-circle.svg);
    top: 0;
    left: 0;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .radio-check:checked ~ .radio-text::before {
    background-image: url(../svg/form-circle.svg);
  }
  
  .text-area {
    resize: none;
    width: 330px;
    height: 130px;
    background-color: #f4f7f6;
    border: none;
    padding-left: 19px;
    padding-top: 19px;
    color: #707171;
    font-size: 13px;
  }
  
  .popup-button {
    margin-top: 24px;
    width: 100%;
    height: 48px;
    border: none;
    color: #fff;
    background-color: #b59f5b;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /*==========TRENDS==========*/

  .trends-header {
    text-align: center;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    margin: 60px 0 40px;
  }
  .trends-header::after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 14px;
  }
  
  .trends-gallery {
    display: flex;
  }
  
  .trend-article {
    display: flex;
    width: 25%;
    margin: 0 1.5px;
    height: 320px;
    background-color: #eff6f1;
  }
  
  .trend-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 17px 19px;
    position: relative;
  }
  .trend-container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
  }
  
  .trend-1 {
    background-image: url(../images/trend1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .trend-2 {
    background-image: url(../images/trend2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .trend-3 {
    background-image: url(../images/trend3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .trend-4 {
    background-image: url(../images/trend4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .trend-content {
    border: solid #847b3e 3px;
    padding: 38px;
    max-height: 320px;
    
    z-index: 1;
  }

  .tegs_item_link {
    text-decoration: none;
    color: #b59f5b;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 3px;
    margin-right: 19px;
  }
  
  .trend-link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 7px;
  }

  /*==========PAGE==========*/

  .page{
    margin-top:60px;
  }
  
  .page-wrapper{
    max-width:1200px;
    margin:auto;
    padding:0 15px;
    display:flex;
    justify-content: space-between;
  }
  
  /*==========MAIN==========*/

  .main{
    max-width: 778px;
  }
  
  .news:not(:first-child){
    margin-top: 60px;
  }
  
  .news-img, .new-img{
    display: block;
  }
  
  .news-teg{
    list-style: none;
    padding:0;
    margin-bottom:15px;
    display:flex;
  }
  
  .news-teg-item{
    margin-right:20px;
  }
  
  .news-teg-link{
     text-decoration: none;
     font-family: "Open Sans", sans-serif;
     font-weight: bold;
     text-transform: uppercase;
     color: #b59f5b;
     font-size: 14px;
  }
  
  a{
    text-decoration: none;
    color:#0f0d0e;
  }
  
  .news-name{
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    line-height:1.2;
    margin-bottom:37px;
  }
  
  .date {
    color: #888888;
    font-size: 12px;
    margin-right: 10px;
  }
  
  .author {
     font-family: "Open Sans", sans-serif;
     font-weight: bold;
     color: #000000;
     font-size: 12px;
  }
  
  .about{
    margin-top:50px;
  }
  
  .about > p{
    font-size: 15px;
    line-height:1.5;
    margin:0;
  }
  
  .about > p:not(:first-child){
    margin-top:20px;
  }
  
  .news-text{
    margin-left:30px;
  }
  
  .news, .new{
    display: flex;
  }
  
  .new-name{
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height:1.3;
  }
  
  /*==========ASIDE==========*/

  .aside-item:not(:first-child){
    margin-top:60px;
  }
  
  .aside{
    max-width: 270px;
  }
  
  .top{
    text-align: center;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height:1.3;
  }
  
  .top::after{
    content:"";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    width: 66px;
    height: 3px;
    background:#b59f5b;
  }
  
  .new-text a{
    text-decoration: none;
    color:#000000;
  }
  
  .new-text .date{
    font-size: 12px;
    text-decoration: none;
    color:#000000;
    opacity: 0.54;
  }
  
  .new-text{
    margin-left:18px;
  }
  
  .new{
    margin-top:20px;
  }
  
  /*==========SEARCH, MAILING==========*/

  .search{
    margin-top:60px;
    display:flex;
    width:100%;
  }
  
   .hidden{
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }
  
   .search-button{
    border: none;
    width: 47px;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    background-color:#b59f5b;
  }
  
  .search-field{  
    box-sizing: border-box;
    padding-left: 18px;
    width: 222px;
    height: 47px;
    font-size: 13px;
    border: none;
    background-color:#f4f7f6;
  }
  
   .mailing-button{
    margin-top: 18px;
    height: 48px;
    border: none;
    width: 100%;
    background-color:#b59f5b;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    color:#ffffff;
    font-size: 13px;
    }
  
  .mailing-field{  
    box-sizing: border-box;
    padding-left: 18px;
    width: 100%;
    height: 48px;
    font-size: 13px;
    border: none;
    background-color:#f4f7f6;
  }
  
  /*==========TEGS,THEMES==========*/
  
  .list-tegs{
    list-style:none;
    display:flex;
    flex-wrap:wrap;
  }
  
  .list-tegs-link{
    display: inline-block;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 12px;
    border: 3px solid #f4f3f1;
    padding: 7px 11px;
  }
  
  .list-tegs-item{
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
  }
  
  .list-theme{
    list-style:none;
  }
  
  .list-theme-link{
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #000000;
    font-size: 14px;
    padding:0 5px 0 0;
  }
  
  .list-theme-item{
    margin-top: 14px;
    margin-left: 3px;
  }
  
  .list-theme-item{
    border-bottom: 1px solid #eeeeee;
    margin-top: 20px;
    padding: 0 0 10px 0;
  }
  
  .list-theme-count{
    display: inline-block;
    vertical-align: top;
    color:#b59f5b;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 12px;
  }

  /*==========SHOP==========*/

  .shop {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .our-craft {
    text-align: center;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    margin: 60px 0 40px;
  }
  .our-craft::after {
    content: "";
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 14px;
  }

  .shop-container{
    display: flex;
  }

  .craft-item-card {
    width: 33.33%;
    margin: 29px 56px 84px;
    display: flex;
    flex-direction: column;
  }

  .craft-img {
    display: block;
    max-width: 100%;
    height: 204px;
    background-color: grey;
  }

  .craft-container {
    display: flex;
    flex-direction: column;
    outline-offset: 20px;
    outline: 3px solid #d3c59d;
    flex-grow: 1;
  }

  .craft-name {
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 18px;
    margin-bottom: 15px;
  }

  .craft-dscrpt {
    font-size: 15px;
  }

  .craft-link {
    text-decoration: none;
    color: #b59f5b;
  }

  .about-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 27px;
  }

  .old-price {
    font-size: 14px;
    text-decoration: line-through;
    font-weight: bold;
  }

  .new-price {
    font-size: 20px;
    font-weight: bold;
  }

  .in-shop {
    width: 140px;
    height: 48px;
    border: none;
    background-color: #b59f5b;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    border-top: 1px solid #e1d9bd;
  }
  .in-shop:hover {
    cursor: pointer;
  }
  
  /*==========FOOTER==========*/

  .footer{
    margin-top: 60px;
  }
  
  .footer-address{
    background-color:#f4f7f6;
    padding: 20px 0;
    margin-bottom: 50px;
  }
  
  .footer-list{
    list-style:none;
    display: flex;
    justify-content: center;  
  }
  
  .footer-wrapper{
    max-width:1200px;
    margin: auto;
    padding: 0 15px;
  }
  
  .social-icon{
    display: flex;
    width:20px;
    height:20px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    margin-right: 20px;
  }
  
  .copyright{
    text-decoration: none;
    color:#999999;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center
  }

  /* =================MEDIA============= */

  /* =================BURGER============= */

  @media (max-width: 1199px){
    .menu-burger{
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      margin-right: 30px;
    }

    .menu-burger:before,
    .menu-burger:after{
      content: "";
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
    }
    .menu-burger:before{
      top: 0;
    }
    .menu-burger:after{
      bottom: 0;
    }

    .menu-burger span{
      position: absolute;
      background-color: #fff;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
    }

    .header-menu{
      display: none;
    }
  }



